<!-- ====================================================================================== -->
<!--                                   Service Tiles                                        -->
<!-- ====================================================================================== -->


<section id="services-877">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Massage Treatments</span>
            <h2 class="cs-title">Our Massage Treatments</h2>
            <p class="cs-text">
                Step into a world of traditional Thai healing at Skipton Thai Massage. From deeply therapeutic treatments to gentle relaxation therapies, each session is thoughtfully personalised to achieve your wellness goals. Our range of authentic Thai massage techniques helps address muscle tension, reduce stress and restore natural balance.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/service-1.jpg" | resize({width: 688, height: 480}) | jpeg %}" alt="Back-Shoulder & Neck Massage" width="413" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Traditional Thai Massage</h3>
                    <p class="cs-item-text">
                        <strong>30 Min £25</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>60 Min £40</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Min £60</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>120 Min £75</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        A centuries-old therapy combining acupressure, Indian Ayurvedic principles, and assisted yoga postures. Focuses on energy lines using gentle stretching and rhythmic compression to improve flexibility and relieve muscle tension.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/service-2.jpg" | resize({width: 688, height: 480}) | jpeg %}" alt="Foot-Leg Massage" width="413" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Sports & Deep Tissue Therapy</h3>
                    <p class="cs-item-text">
                        <strong>30 Min £25</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>60 Min £40</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Min £60</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>120 Min £75</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Targeted deep pressure massage focusing on specific muscle groups to relieve chronic tension and sports-related injuries. Particularly beneficial for athletes and those with muscle strain or repetitive stress injuries.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-3.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-3.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-3.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-3.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-3.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-3.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-3.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-3.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-3.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/service-3.jpg" | resize({width: 688, height: 480}) | jpeg %}" alt="Relaxing Thai Hot Oil Massage" width="413" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Swedish Relaxation Massage</h3>
                    <p class="cs-item-text">
                        <strong>30 Min £25</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>60 Min £40</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Min £60</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>120 Min £75</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Classic European massage using long, flowing strokes combined with kneading and circular movements. Designed to promote relaxation, improve circulation and ease muscle tension whilst maintaining gentle pressure.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/service-4.jpg" | resize({width: 688, height: 480}) | jpeg %}" alt="Thai Hot Oil Deep Tissue Massage" width="413" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Reflexology (Head/Foot)</h3>
                    <p class="cs-item-text">
                        <strong>30 Min £25</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>60 Min £40</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Min £60</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>120 Min £75</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Specialised treatment focuses on pressure points in the head and neck or feet. Combines traditional Thai techniques with reflexology principles to relieve stress, and headaches and improve overall wellbeing.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/service-5.jpg" | resize({width: 688, height: 480}) | jpeg %}" alt="Thai Hot Oil Deep Tissue Massage" width="413" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Signature 3-in-1 Treatment</h3>
                    <p class="cs-item-text">
                        <strong>30 Min £25</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>60 Min £40</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Min £60</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>120 Min £75</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Experience a unique healing journey that combines three powerful massage techniques in one comprehensive session. This 90-minute treatment starts with soothing oil massage, flows into traditional Thai massage techniques, and finishes with relaxing hot stone therapy. This carefully designed combination helps ease persistent pain, reduces muscle tension and promotes natural healing.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-6.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-6.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-6.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-6.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-6.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-6.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-6.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-6.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-6.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/service-6.jpg" | resize({width: 688, height: 480}) | jpeg %}" alt="Thai Hot Oil Deep Tissue Massage" width="413" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Pregnancy Massage</h3>
                    <p class="cs-item-text">
                        <strong>30 Min £25</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>60 Min £40</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Min £60</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>120 Min £75</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Gentle care for mothers-to-be (14-32 weeks). Experience a nurturing massage adapted specifically for your pregnancy journey. This gentle treatment uses carefully positioned support and soft pressure to ease pregnancy-related discomfort. 
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-7.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-7.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-7.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-7.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-7.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-7.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-7.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-7.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-7.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/service-7.jpg" | resize({width: 688, height: 480}) | jpeg %}" alt="Thai Hot Oil Deep Tissue Massage" width="413" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Couples Massage</h3>
                    <p class="cs-item-text">
                        <strong>60 Min £80</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Experience your chosen massage treatments side by side in our peaceful treatment room. Each person can select their preferred type of massage, with our therapists providing individually tailored care while you relax together. Whether it's for a special occasion or simply sharing a moment of calm, couples massage offers a unique way to unwind.
                    </p>
                </a>
            </li>
        </ul>
        <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-button-solid">Schedule A Massage</a>
    </div>
</section>




