
<section id="services-877">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Massage Treatments</span>
            <h2 class="cs-title">Our Massage Treatments</h2>
            <p class="cs-text">
                Discover restorative massage treatments in our peaceful Gosforth treatment room. Each session is tailored to help you reach your wellness goals, from easing persistent tension to finding moments of calm.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/massages/" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/service-5.jpg" | resize({width: 688, height: 480}) | jpeg %}" alt="Thai Hot Oil Deep Tissue Massage" width="413" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Therapeutic Hot Stone Package</h3>
                    <p class="cs-item-text">
                        <strong>30 Min £25</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>60 Min £40</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Min £60</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>120 Min £75</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Comprehensive treatment combining traditional Thai massage with heated volcanic stones and aromatherapy. The warmth helps deeply relax muscles whilst enhancing the therapeutic benefits of the massage.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/massages/" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/service-4.jpg" | resize({width: 688, height: 480}) | jpeg %}" alt="Thai Hot Oil Deep Tissue Massage" width="413" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Reflexology (Head/Foot)</h3>
                    <p class="cs-item-text">
                        <strong>30 Min £25</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>60 Min £40</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Min £60</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>120 Min £75</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Specialised treatment focuses on pressure points in the head and neck or feet. Combines traditional Thai techniques with reflexology principles to relieve stress, and headaches and improve overall wellbeing.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/massages/" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-3.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-3.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-3.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-3.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-3.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-3.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-3.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-3.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-3.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/service-3.jpg" | resize({width: 688, height: 480}) | jpeg %}" alt="Relaxing Thai Hot Oil Massage" width="413" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Swedish Relaxation Massage</h3>
                    <p class="cs-item-text">
                        <strong>30 Min £25</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>60 Min £40</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Min £60</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>120 Min £75</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Classic European massage using long, flowing strokes combined with kneading and circular movements. Designed to promote relaxation, improve circulation and ease muscle tension whilst maintaining gentle pressure.
                    </p>
                </a>
            </li>
        </ul>
        <a href="/massages/" class="cs-button-solid">View All Massages</a>
    </div>
</section>




                                