---
title: 'Reviews | Gorbua Thai Massage'
description: "Read what our clients say about Gorbua Thai Massage in Gosforth. Real experiences from people who've discovered the benefits of authentic Thai massage therapy."
permalink: 'reviews/'
eleventyNavigation:
    key: Reviews
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/reviews.css">
    <link rel="preload" as="image" href="{% getUrl "/assets/images/banner.jpg" | resize({width: 2560, height: 1136}) | avif %}">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                  Reviews                     -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="container">
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Just had a lovely one hour massage with Noi who was completely new to me, and i really really enjoyed every minute. Very professional and sensitive to what i needed overall...top marks and highly recommended..!!
                </p>
                <div class="star-group">
                    <span class="name">Beamon Forse</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile-woman.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Have been to see Noi here several times and always great. I’ve been to most other Thai massage places in Gosforth and Jesmond and this is the best value. I get painful shoulders/legs and migraines and always feel better and relaxed after a visit here. She will fit you in short notice too which is amazing 🤩
                </p>
                <div class="star-group">
                    <span class="name">L</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile-woman.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Amazing massage and service! Very thorough and relaxing. She took the time to ask what my problem areas were and ensured to focus on them and also payed attention to the rest of the body. The tension and pain in my shoulders/neck have gone. Clean, tidy and spacious area. Can’t wait to book in again.
                </p>
                <div class="star-group">
                    <span class="name">Shahima Ali</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Fantastic real Thai massage just like you get in Thailand. I run and sit at a desk for work so get a lot of stiffness and pain in the legs, shoulders, back and neck. She really worked all spots and I felt like I had a new pair of legs running this morning. It's amazing how much energy a little Thai lady can generate. Highly recommended for people who do sports and are desk based.
                </p>
                <div class="star-group">
                    <span class="name">Paul K</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Had an excellent massage from Noi. She has a wonderful understanding of massage and communicates the benefits. I shall be returning regularly
                </p>
                <div class="star-group">
                    <span class="name">Paul Wears</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile-woman.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Lovely and comfortable room. I felt very relaxed and she worked on all my knots and stiff joints and muscles. I came away feeling longer and lighter and had a great night sleep too 😁. Definitely recommend and I will definitely be going back for further treatment. 🙏
                </p>
                <div class="star-group">
                    <span class="name">Marie Paterson</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
        </div>
    </section>

{% endblock %}